.exa-form-compact {
  .ant-form-item{
    margin-bottom: 10px !important
  }
}
.exa-form-section {
  background-color: #fff;
  padding:16px;
  margin-bottom:16px;
  &.exa-table-search {
    padding-bottom: 6px;
  }
  .ant-table:not(.ant-table-bordered) .ant-table-title {
    padding-top: 0;
  }
}
