.sup-form-compact {
  .ant-form-item {
    margin-bottom: 10px;
  }
}
.sup-table-wrapper .ant-table-cell > .ant-form-item {
  margin-bottom: 0;

  .ant-form-item-control > .ant-form-item-explain,
  .ant-form-item-label {
    display: none;
  }
}
.sup-group + .sup-group {
  margin-top: 16px;
}
.sup-form {
  .ant-picker {
    width: 100%;
  }
  .ant-list {
    .ant-list-item {
      padding-bottom: 0;
      padding-top: 24px;
    }
  }
  // .sup-form-section>.ant-list {
  //   .ant-form-item {
  //     margin-top: 24px
  //   }
  //   .ant-list
  // }
  .sup-upload-tip {
    color: #b7b7b7;
  }
  .upload-disabled .ant-upload-list-item {
    margin-top: 0;
  }
  .ant-col-auto {
    flex: 1 1 0;
  }
}
.sup-table {
  height: 100%;
  .ant-table-pagination.ant-pagination {
    margin: 16px 0 0 0;
  }
}
.sup-table-search > .ant-form {
  margin-top: -6px;
  margin-bottom: -6px;
  .ant-form-item {
    margin-bottom: 6px;
    margin-top: 6px;
  }
}
.sup-detail {
  --descriptions-border-color: #f0f0f0;
  --descriptions-bg-color: #fafafa;
  .sup-title {
    font-weight: bold;
  }
  .ant-descriptions {
    width: 100%;
  }
  .ant-descriptions-bordered + .ant-descriptions-bordered {
    margin-top: -1px;
  }
  .ant-descriptions-bordered .ant-descriptions-bordered .ant-descriptions-view{
    border: none;
  }
  // .ant-descriptions-bordered .ant-descriptions-item {
  //   border-right: 1px solid #f0f0f0;
  //   &>.ant-row{
  //     height: 100%;
  //   }
  // }
  .ant-descriptions-bordered .ant-descriptions-view{
    // 阻止圆角底色溢出
    overflow: hidden;
  }
  .ant-descriptions-item-container {
    padding: 8px 0;
    .ant-descriptions-item-label {
      display: inline-block;
      &::after {
        content: none;
      }
      & > label::after {
        content: ":";
        position: relative;
        top: -0.5px;
        margin: 0 8px 0 2px;
      }
    }
  }
  .sup-descriptions-nest .ant-descriptions-item-container {
    padding: 0;
  }
  .ant-descriptions-item-no-colon .ant-descriptions-item-label > label::after {
    content: " ";
  }
  .ant-descriptions-vertical {
    .ant-descriptions-item-container {
      flex-direction: column;
      .ant-descriptions-item-label {
        display: inline-flex;
      }
    }
  }

  .sup-descriptions-mode-form {
    .ant-descriptions-item-label {
      text-align: right;
    }
    .ant-descriptions-item-content {
      display: inline-flex;
      align-items: center;
      min-height: 32px;
      .sup-descriptions-item-input {
        width: 100%;
        min-width: 0;
        padding: 4px 11px;
        color: rgba(0, 0, 0, 0.85);
        // font-size: 14px;
        line-height: 24px;
        min-height: 32px;
        background-color: #f5f5f5;
        // background-image: none;
        border: 1px solid #d9d9d9;
        border-radius: 2px;
      }
    }
    .ant-descriptions-item-label > label {
      display: inline-flex;
      align-items: center;
      height: 32px;
    }
  }
  .sup-descriptions-nest.sup-descriptions-default {
    .ant-descriptions-row:not(:first-child) {
      padding-top: 16px;
    }
  }
  .sup-descriptions-default.ant-descriptions-view {
    &,
    .ant-descriptions-row {
      border: none;
    }
    .ant-descriptions-item-content,
    .ant-descriptions-item-label {
      padding: 0;
      border: none;
      background: none;
    }
  }
}

// .sup-title-buttons, .sup-bottom-buttons {
//   text-align: right;
// }
.sup-bottom-buttons {
  margin-top: 16px;
}
.sup-modal {
  .ant-modal-title > .anticon {
    float: left;
    margin-right: 8px;
    font-size: 20px;
  }
}

.sup-buttons .buttons-divider {
  margin: 0 2px;
}

.sup-container {
  &.sup-form-section,
  & > .sup-form-section {
    background-color: #fff;
    padding: 16px;
    // margin-bottom: 16px;
    // &.sup-table-search {
    //   padding-top: 10px;
    //   padding-bottom: 10px;
    // }
    // &:not(.section-last) {
    //   margin-bottom: 16px;
    // }
    .ant-table:not(.ant-table-bordered) .ant-table-title {
      padding-top: 0;
    }
  }
}
.sup-form-section {
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0;
  }
  .ant-table-title {
    padding: 16px 0;
  }
  .sup-titlebar {
    margin-bottom: 8px;
  }
  .sup-title {
    font-size: 16px;
    font-weight: 700;
  }
}
